/*站内头部*/
.viewport_header{min-width:1200px;margin-top:100px;border-bottom:1px solid #ed6d51;background:url('../images/news_bg.jpg') repeat;position:relative;}
.viewport_header .nav_wrap{width:1000px;margin:0 auto;padding:10px 0;}
.viewport_header .nav_wrap .news_all{margin:30px 0;display:block;font-size:22px;color:#ed6d51;text-align:center;}
.viewport_header .nav_wrap .news_category{width:600px;display:block;margin:0 auto;}
.viewport_header .nav_wrap .news_category li{width:20%;float:left;}
.viewport_header .nav_wrap .news_category li a{padding:10px;display:block;border-top:2px solid #999;}
.viewport_header .nav_wrap .news_category li.hover a{color:#ed6d51;border-top:2px solid #ed6d51;}
.viewport_header .nav_wrap .news_category li:hover a{color:#ed6d51;border-top:2px solid #ed6d51;}

.headimg{
	width:100%;
	height:400px;
	margin-top:123px;
	background-image:url("../images/news_bg.jpg");
}

/*主体*/
.viewport{margin-top:20px;width:1200px}

*{ margin:0; padding:0; list-style:none;}
body{ margin:0; padding:0; font-family:"微软雅黑",Arial,"宋体"; color:#333; font-size:12px; background:#fffbf4;}
div,form,dl,dd,dt,ul,li,p,img,a,span,pp,s1,s2,s3,s4,input{ list-style:none; margin:0; padding:0; border:0; }
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
img{ border:none; vertical-align:middle;}
i{ display:inline-block; background:url(../images/sprites_ico.png) no-repeat;}

input,select,textarea{ vertical-align:middle; font-family:"微软雅黑",Arial,"宋体"; outline:none; box-sizing:content-box;}
.clear{ clear: both; font-size:0px; line-height:0px; height:0; overflow: hidden; width:100%;}
.wrapper{ width:1190px; margin:0 auto; overflow:hidden;}
.no_m_r{ margin-right:0px !important;}
.no_m_l{ margin-left:0px !important;}
.no_border{border:none !important;}
.no_border_r{border-right:none !important;}
.fl{ float:left;}
.fr{ float:right;}
/*链接全局样式*/
a:link{color:#333; text-decoration:none;}
a:visited{color:#333; text-decoration:none;}
a:active{color:#333; text-decoration:none;}
a:hover{color:#14aae1; text-decoration:underline;}
a{ outline:none; -moz-transition:all 0.3s;-webkit-transition:all 0.3s;transition:all 0.3s;}

/*文章列表小方块*/
em.fk{ background:#14aae1; width:3px; height:3px; display:inline-block; float:left; margin-top:8px; margin-right:10px;}

/*内页*/

/*内页banner*/
.subbannerBox{ background:url(../images/sub_banner.jpg) no-repeat center top; height:200px; }

.subMain{ background:#fffbf4; padding:30px 0px;}
.subMain .wrapper{position:relative; overflow:visible;}


/*内页左侧*/
.subL h2{ color:#fff; font-size:22px; text-align:center; letter-spacing:2px; background:#387fbc;height:56px; padding:13px 0px; font-weight:normal;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ccc34e31',EndColorStr='#ccc34e31')\9;}
.subL{ width:200px;position:absolute; left:0px; top:-20px;}
.subL .listL{ background:#E4F3F8; padding:5px 0px;}
.subL .listL li{ font-size:14px; text-align:center;border-bottom:1px solid #ddd3ca;}
.subL .listL li.borderT{border-top:1px solid #ddd3ca;}
.subL .listL li a{  display:block; padding:12px 0px; text-decoration:none;border-left:3px solid transparent;border-right:3px solid transparent;}
.subL .listL li a:hover,.subL .listL li.subliCur a{ background:#fffbf4; border-left-color:#14aae1; color:#387fbc;}

/*内页右侧*/
.subR{ width:945px; min-height:450px;margin-top:-10px;}
.subTitle{ border-bottom:1px solid #ddd; height:27px;}
.subTitle strong{ font-size:16px; color:#387fbc; border-bottom:2px solid #387fbc; position:relative;  margin-bottom:-1px; padding:0 10px 4px;}
.subTitle .fr{ text-align:right; color:#777;}
.subTitle .fr i.home{ width:17px; height:14px; background-position:-216px -87px; margin-bottom:-2px; margin-right:7px;}
.subTitle .fr a{ color:#777; display:inline-block; margin:0 5px;}
.subTitle .fr a:hover{ color:#387fbc;}
.subCon{ width:98%; margin:25px auto; overflow:hidden;}
.subCon p{ line-height:38px; font-size:18px; text-indent:2em;}
.subCon p img{ margin-left:-2em;}
.subCon p strong{ margin-left:-1.7em; font-size:22px;}


.con-table{ border-left:1px solid #ccc;border-top:1px solid #ccc; font-size:14px; width:96%;}
.con-table th{ background:#387fbc; color:#fff; }
.con-table td,.con-table th{ text-align:center; padding:10px 8px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}

.tablebg01{ background:#fffbf4;}
.tablebg02{ background:#f9f5ee;}

/*切换*/
.tabCon .hd{ margin:30px 0; overflow:hidden;}
.tabCon .hd li{ float:left; font-size:16px; color:#bbb; margin-right:10px; padding:4px 6px; cursor:pointer;}
.tabCon .hd li.on{ background:#387fbc; color:#fff;}

/*列表页*/
.subList li{ font-size:14px; color:#777; width:100%; margin:10px 0; overflow:hidden; border-bottom:1px dotted #ccc; padding-bottom:10px;}
.subList li em.fk{ margin-top:9px;}

/*跳转菜单*/
.pagejump{ margin-top:80px; text-align:center; color:#777;}
.pagejump span{padding:7px 4px; display:inline-block;}
.pagejump .switch_input{padding:6px 4px; background:#fff;border:1px solid #ccc; vertical-align:top; width:30px; text-align:center;}
.pagejump .switch_btn{ background:#aaa; width:34px; height:30px; text-align:center; cursor:pointer; vertical-align:top; margin-top:1px; color:#fff;}
.pagejump a{ display:inline-block; padding:7px 12px; color:#777; background:#fff; border:1px solid #ccc; text-decoration:none; margin:0 2px; text-decoration:none !important;}
.pagejump a:hover{color:#387fbc; border:1px solid #387fbc;}
.pagejump a.currentNum{ background:#387fbc; color:#fff !important; border:1px solid #387fbc;}

/*详细页 */
.detailTitle{ text-align:center; margin-bottom:30px; clear:both;}
.detailTitle h2{ font-size:22px; margin:10px 0px; color:#387fbc;}
.detailTitle span{ color:#777;}
	/*校园风采*/
@charset "utf-8";
body {
	background-color: #FFFFFF;
	color: #a0a0a0;
	line-height: 18px;
	font-size: 12px;
	font-family:"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
	margin: 0px;
	font-weight:normal;
}
img {
	border: 0px;
	vertical-align:bottom;
}

a, a:link {
	text-decoration: none;
	color:#696171;
	font-family:"\5FAE\8F6F\96C5\9ED1";
}

a:hover
{
	text-decoration:none;
	color:#ed6d51;	
}
h2,h3
{
	font-family:"\5FAE\8F6F\96C5\9ED1";
	font-weight:normal;
}

ul, li {
	list-style-type:none;
}
.left {
	float: left;
}
.right {
	float: right;
}

.clearfix:after {
	display:block;
	content:'.';
	clear:both;
	height:0px;
	visibility: hidden;
}

.yahei{
	font-family:"\5FAE\8F6F\96C5\9ED1";
	font-weight:normal;
}

.clearfix {
*display:inline-block;
*zoom:1;
*vertical-align:top;
}

.clear
{
	clear:both;
	overflow:hidden;
	height:0;	
}
p{ color:#646464;}
.subCon1 {
    width: 100%;
    overflow: hidden;
}
.cout-bottom{width:100%; margin:0 auto; padding-bottom:20px;}
@media screen and (min-width:1542px) {
.cout-bottom .layout{ width:100%; margin:0 auto;}
}
@media screen and (min-width:1342px) and (max-width:1542px) {
.cout-bottom .layout{ width:100%; margin-left:50px;}
}
@media screen and (min-width:1242px) and (max-width:1342px) {
.cout-bottom .layout{ width:100%; margin:0 auto;}
}
@media screen and (min-width:1042px) and (max-width:1242px) {
.cout-bottom .layout{ width:100%; margin-left:50px;}
}
@media screen and (min-width:942px) and (max-width:1042px) {
.cout-bottom .layout{ width:100%; margin:0 auto;}
}
@media screen and (min-width:782px) and (max-width:942px) {
.cout-bottom .layout{ width:100%; margin-left:50px;}
}
@media screen and (min-width:682px) and (max-width:782px) {
.cout-bottom .layout{ width:100%;margin:0 auto;}
}
@media screen and (min-width:500px) and (max-width:682px) {
.cout-bottom .layout{ width:100%; margin-left:50px;}
}
@media screen and (max-width:500px) {
.cout-bottom .layout{ width:100%;margin:0 auto;}
}
@media screen and (min-width:1200px) {
.cout-bottom .layout .nj{ text-align:center; background:url(../images/hu-2.jpg) no-repeat; position:relative;color:#8C849E;margin-left:10%;}
}
@media screen and (max-width:1200px) {
.cout-bottom .layout .nj{display:none}	

}
.cout-bottom .layout .nj .my{position:absolute; top:13px; left:590px; font-size:16px; color:#fff; margin-left:-30px;}
.cout-bottom .layout .nj h2{ font-size:32px; padding-top:25px; color:#387fbc; line-height:36px; padding-bottom:17px;}
.cout-bottom .layout .list{ padding-top:30px;}
.cout-bottom .layout .list li{ float: left;width: 219px; height: 220px;overflow: hidden;background: #fff;}
.cout-bottom .layout .list li.wlist{ padding: 26px 21px 20px 16px;width: 183px; height: 174px;color: #818181;}
.cout-bottom .layout .list li.wlist h3 a{ color:#593376; font-size:18px; line-height:24px; padding:16px 0; display:block;}
.cout-bottom .layout .list li.wlist a.wx{ border-color:#7f001e; color:#7f001e; padding:0 13px; margin:0;width:auto}
.cout-bottom .layout .list li.wlist a.wx:hover{ background:#7f001e; color:#fff;}
.cout-bottom .layout .list li.wlist h3 a:hover{ color:#7f001e;}
.cout-bottom .layout .list li.bg1{ background: url(../images/gs-bg_06.jpg) no-repeat;}
.cout-bottom .layout .list li.bg2{ background:url(../images/gs-bg_08.jpg) no-repeat;}
.cout-bottom .layout .list li.arrow{ position:relative;}
.cout-bottom .layout .list li.ar1:hover a .play{filter:alpha(opacity=70);background:rgba(77,44,114,0.7);}

a.wx{ height:28px;line-height:28px; border-radius:10px; display:inline-block;text-align:center;margin-left:10px; border:1px solid #dfdfdf;font-size:12px;width:28px;color:#723D95}

.arrow i{position:absolute;top:50%;left:0;border-bottom:16px solid transparent;border-top:16px solid transparent;border-left:17px solid #fff; margin-top:-24px; height:0;width:0;}
.ar1 i{border-bottom:16px solid transparent;border-top:16px solid transparent;border-right:17px solid #fff; border-left:0; left:auto;right:0;}
.cout-bottom .layout .list li.arrow .playbottom{filter:alpha(opacity=60); background:#fff;background:rgba(255,255,255,0.6);display:block; position:absolute;top:125px;right:127px;width:66px;height:66px;border-radius:34px;}
a .play{ width:58px; height:58px; background:#4d2c72;filter:alpha(opacity=60);background:rgba(77,44,114,0.6); display:block; position:absolute;top:129px;right:131px; border-radius:32px; z-index:10;}
a .play i{ right:19px;border-left:17px solid #fff; border-right:0;border-top-width:13px;border-bottom-width:13px; z-index:20;top:16px; margin:0;}
/*校友风采结束*/