<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.soft.job.common.mapper.BaseMapper">
	<resultMap type="cn.soft.job.common.pojo.po.Base"
		id="BaseResultMap">
		<result property="id" column="id" javaType="Integer"
			jdbcType="BIGINT" />

		<result property="baseCode" column="baseCode" javaType="String"
			jdbcType="VARCHAR" />

		<result property="codeName" column="codeName" javaType="String"
			jdbcType="VARCHAR" />

	</resultMap>



	<select id="selectByCode" parameterType="String"
		resultMap="BaseResultMap">
		select
		*
		from base

		where baseCode = #{baseCode}
	</select>






</mapper>