@charset "utf-8";
.head{height: 148px;  width: 1200px;margin: 0 auto;}
.head .logo{width: 425px;float: left;overflow: hidden;margin-top: 40px;}
.logo a{display: block;float: left;}
.head img.wenzi{margin-top: 35px;  margin-left: 45px;}
.logo a.sx img{width: 302px;height: 56px;display: block;float: left;margin-top: 5px;}
.logo a.dj{margin-top: 15px;}
/*导航*/
.nav{width: 1200px;height: 45px;overflow: hidden;background: #f7f7f7;border-bottom: 5px solid #0065a7;margin: 0 auto;}
.nav ul li{width: 109px;height: 45px;display: block;float: left;text-align: center;line-height: 45px;}
.nav ul li.last{width: 110px;}
.nav ul li a{display: block;color: #0068ac;font-size: 16px;}
.nav ul li a:hover,.nav ul li a.select{background: #0065a7;color: #ffffff;font-weight:bold;}
