@charset "utf-8";
.content .news{width: 100%;overflow: hidden;margin-top: 20px;}
.news .wrapBanner{width: 712px;height: 380px;float: left;position: relative}


.banner{width: 712px;height: 380px;}
.banner .d1{  width: 712px;;height:380px;display:block;position:absolute;left:0px;cursor: pointer;}
.banner .d1 .des{width:702px; height:36px;line-height: 36px;font-size: 14px; background:url(../images/titleBg.png) repeat-x; position:absolute; left:-1px; bottom:-1px; color:#ffffff;background-size: cover; padding-left:10px; overflow:hidden; white-space:nowrap;text-overflow: ellipsis;}
.des span{display: block;width: 530px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.banner .ss{width: 89px;  height: 30px; margin: 0 auto;}
.banner .d2{   height: 30px;  clear: both;  position: relative;  z-index: 100;top: 357px; left: 280px;   width: 100%;}
.banner .d2 .ss ul{float: left;  width: 130px;    display: inline;}
.banner .d2 li{width:10px;height:10px;overflow:hidden; background:#ffffff;border-radius:50%;float:left;margin:0 5px;display:inline;}
.banner .d2 li.nuw,#banner_id2 .d2 li.nuw{width: 10px;height: 10px;background: #0068ac;border-radius: 50%;}

.news .tab{width:470px;float: right }
.tab .tabNav{width: 468px;border-left: 1px solid #d7d7d7;height: 36px;}
.tabNav ul{width: 470px;overflow: hidden;height: 42px;}
.tabNav ul li{display: block;float: left;width: 156px;background: url("../images/tab.png") no-repeat center;;height: 42px;
    text-align: center;line-height: 36px;font-size: 16px;cursor: pointer}
.tabNav ul li.cur,.tabNav ul li:hover{background: url("../images/tabHover.png") no-repeat center;color: #ffffff;}
.tab .tabBox{overflow: hidden;  margin-top:10px;width: 450px;}
.tabBox ul li{background: url("../images/icon.png") no-repeat left center;padding-left: 5px;}
.tabBox ul li a{display: block;font-size: 14px;color: #000000;line-height: 32px;width: 450px;overflow: hidden;
    text-overflow: ellipsis;white-space: nowrap;}
.tabBox ul li:hover,.tabBox ul li.select{background: none;padding-left: 0;}
.tabBox ul li:hover a,.tabBox ul li.select a{font-size: 20px;color: #0f89c3;font-weight: bold;line-height: 40px;}
.tabBox a.more{color:#f81609;line-height: 25px;float: right; }
.content .platform{width: 100%;overflow: hidden;margin: 20px 0;}
.platform .fl{width: 224px;height: 130px;margin-right: 20px;font-size: 18px;color: #ffffff;cursor: pointer;}
.platform .pfFive{margin-right: 0;}
.platform .pfOne{background: #46b692;}
.platform .pfTwo{background: #fbab4b;}
.platform .pfThree{background: #ff6b50;}
.platform .pfFour{background: #29bde6;}
.pfOne p,.pfThree p,.pfFour p{text-align: center;margin-top: 50px;}
.pfTwo p{text-align: center;;width: 160px;margin: 0 auto;text-indent: 15px;line-height: 25px;}
.pfTwo p.first{margin-top: 35px;}
.pfFive img{border: 1px solid #c9c9c9;width: 222px;height: 58px;display: block;}
.pfFive img:first-child{margin-bottom: 10px;}
.content .special{overflow: hidden;width: 100%;}
.indexTitle,.linkTitle{ height:46px;  position:relative;border-bottom: 3px solid #d7d7d7;}
.indexTitle p,.linkTitle p{ position:absolute; left:0; top:0;height:38px; line-height:41px;  font-size:18px; color: #333333;  }
.indexTitle p.title{font-size: 20px;width: 90px;float: left;border-bottom: 3px solid #0068ac;color: #0068ac;font-weight: bold;text-align: center;height: 46px; }
.linkTitle p.title{font-size: 20px;width: 90px;float: left;color: #0068ac;font-weight: bold;text-align: center;height: 46px; }
.indexTitle .more,.linkTitle .more{ color:#999999; float:right; line-height:50px;font-size: 12px;}
.special .splcon{width: 224px;overflow: hidden;margin: 20px 20px 20px 0;position: relative;}
.splcon img{display: block;width: 224px;height: 108px;}
.splcon h3{font-size: 14px;font-weight: bold;margin: 7px 0;}
.splcon p{width: 224px;line-height: 20px;font-size: 14px;color: #666666;}
.splcon a{display: block;position: absolute;right: 0;bottom: 0;color: #ff0000;font-size: 14px;}
.special .splRight{margin: 20px 0 20px 0;}
.content .link{width: 100%;overflow: hidden;margin-bottom:10px;margin-top: 10px;}
.linkTitle .linkNav{overflow: hidden;margin-left: 110px;float: left;}
.linkNav li{width: 109px;height: 43px;font-size: 16px;float: left;line-height: 41px;cursor: pointer;text-align: center;}
.linkNav li.cur,.linkNav li:hover{border-top: 3px solid #0068ac;border-bottom: 3px solid #f2fbff;}
.linkBox {width: 100%;overflow: hidden;margin-bottom: 20px;margin-top: 10px;}
.linkBox ul li{display: block;width: 185px;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
    margin-right: 10px;background: url("../images/icon.png") no-repeat  left center;padding-left: 3px;  }
.linkBox ul li a{font-size: 14px;line-height: 30px;}












