@charset "utf-8";
.wrapCon{width: 1200px;margin: 25px auto 30px;overflow: hidden;}
.wrapCon .slideNav{width: 280px;height: 788px;background: #ffffff;}
.indexTitle,.linkTitle{ height:40px;  position:relative;border-bottom: 3px solid #d7d7d7;width: 240px;margin-left: 20px;  margin-top: 15px; }
.indexTitle p,.linkTitle p{ position:absolute; left:0; top:0;height:38px; line-height:41px;  font-size:20px; color: #333333;  }
.indexTitle p.title{font-size: 20px;width: 101px;float: left;border-bottom: 3px solid #0068ac;color: #0068ac;font-weight: bold;text-align: center;height: 40px; }
.linkTitle p.title{font-size: 20px;width: 90px;float: left;color: #0068ac;font-weight: bold;text-align: center;height: 46px; }
.indexTitle .more,.linkTitle .more{ color:#999999; float:right; line-height:50px;font-size: 12px;}
.slideNav ul{width: 240px;margin-left: 20px;margin-top: 20px;}
.slideNav ul li{display: block;width: 240px;height: 45px;border: 1px solid #dddddd;background: #f8f8f8;margin-bottom: 10px;border-radius: 3px;}
.slideNav ul li a{font-size: 16px;display: block;width: 100%;line-height: 45px;margin-left: 20px;}
.slideNav ul li:hover,.slideNav ul li.cur{background:#036eb8 url("../images/icon_edu.png") no-repeat 210px center;border: 1px solid #036eb8;border-radius: 3px; }
.slideNav ul li:hover a,.slideNav ul li.cur a{color: #ffffff;font-weight: bold;}
.wrapCon .eduNews{width: 900px;background: #ffffff;overflow: hidden;}
.eduNews .eduCon{width:850px;margin:0 auto;overflow: hidden; border: 1px solid #ffffff;padding-bottom: 15px;}
.eduCon h2{font-weight: normal;overflow: hidden;margin: 20px 0 5px 10px;}
.eduCon h2 a{display: block;float:left;max-width:700px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 18px; }
.eduCon h2 span{display: block;float:left;margin-left: 10px;color: #666666;font-size: 12px;line-height: 28px;}
.eduCon p{clear: both;color: #666666;margin-left: 10px;line-height: 25px;margin-right: 10px;}
.eduCon:hover{border: 1px solid #0068ac;}
.eduCon:hover h2 a{color: #0068ac;}
.eduCon:first-child{margin-top: 10px;}
.pages{overflow: hidden;text-align: center;width: 860px;margin: 40px auto;clear: both;}
.pages ul{overflow: hidden;margin-left: 250px;}
.pages ul li{display: block;float: left;padding: 5px 10px;margin-left: 10px;border: 1px solid #dddddd;cursor: pointer;}
.pages ul li:hover,.pages ul li.cur{background:#036eb8;border: 1px solid #036eb8;color: #ffffff;}
